@import "font.scss";
html{
    background: linear-gradient(0.5turn, #192F5A, #9874B4);
    height: 100%;
    
    position: relative;
    font-size: 16px;
    color: white;
}
h1, p, a{
    font-family: 'Jomhuria';
    letter-spacing: 3px ;
}

#index {
    h1{
        color: white;
        position: relative;
        font-size: 128px;
        width: fit-content;
        margin-left: calc(50% - 128px);

        span{
            position: absolute;
            bottom: 0px;
            right: -44px;
            transform: rotate(-8deg);
            font-family: 'JetBrainsMono';
            font-size: 32px;
        }
    }
    img{
        width: 184px;
        position: absolute;
        bottom: -18px;
        right: -22px;
        transform: rotate(8deg);
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin-left: 12.5%;
        margin-top: 21%;
        a{
            background-color: white;
            color: #9874B4;
            text-decoration: none;
            border-radius: 10px;
            width: 100%;
            padding: 0px 10px;
            text-align: center;
            font-size: 36px;
            margin-bottom: 20px;
        }
    }
}

#rules{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a:first-child img{
            font-size: 20px;
        }

    }
    h1{
        text-align: center;
        font-size: 60px;
        margin-top: 10px;
    }
}